<%= simple_form_for [@karigar, @balance_enquiry] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :lena %>
    <%= f.input :dena %>
    <div class="row">
    	<div class="col-md-12 form-inline2">
    		<%= f.input :balance_date, :class => "form-control" %>	
    	</div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
