<!-- <p id="notice"><%#= notice %></p> -->

<h4>Listing Balance Enquiries For <%= @karigar.name %></h4>
<%= link_to 'New Balance enquiry', new_karigar_balance_enquiry_path, :class => "btn btn-primary", :style => "float: right;margin-bottom: 10px;" %>
<table border="1" style="border-color: #BDBDBD;width: 100%;">
  <thead>
    <tr  style="background-color: darkgray;">
      <th>Lena</th>
      <th>Dena</th>
      <th>Balance date</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @balance_enquiries.each do |balance_enquiry| %>
      <tr>
        <td><%= balance_enquiry.lena %></td>
        <td><%= balance_enquiry.dena %></td>
        <td><%= balance_enquiry.balance_date %></td>
        <td><%= link_to image_tag("detail.png", :title => "Details"), karigar_balance_enquiry_path(@karigar, balance_enquiry) %></td>
        <td><%= link_to image_tag("edit.png", :title => "Edit"), edit_karigar_balance_enquiry_path(@karigar, balance_enquiry) %></td>
        <td><%= link_to image_tag("cross-icon.png", :title => "Delete"), karigar_balance_enquiry_path(@karigar, balance_enquiry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

