<!-- <p id="notice"><%#= notice %></p> -->

<div class="table-wrapper">
<h3>Listing Notepads</h3>
<%= link_to 'New Notepad', new_notepad_path, :class => "btn btn-primary", :style => "margin-bottom: 10px;" %><br>
<table border="1" style="border-color: #BDBDBD;float: left;" width="49%">
  <thead>
    <tr style="background-color: beige;"><td colspan="5"  align="center"><h5><b>Liye</b></h5></td></tr>
    <tr style="background-color: darkgray;">
      <th>Note date</th>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notepads_liye.each do |notepad| %>
      <tr>
        <td><%= notepad.note_date %></td>
        <td><%= notepad.name %></td>
        <td><%= notepad.amount %></td>
        <td><%= link_to image_tag("edit.png", :title => "Edit"), edit_notepad_path(notepad) %></td>
        <td><%= link_to image_tag("cross-icon.png", :title => "Delete"), notepad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr style="background-color: white">
      <td colspan="5">
        <div class="digg_pagination" style="float: right;">
        <%= will_paginate @notepads_liye, :param_name => 'liye_page', :container => false %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table border="1" style="border-color: #BDBDBD;float: right;" width="49%">
  <thead>
    <tr style="background-color: beige;"><td colspan="5"  align="center"><h5><b>Diye</b></h5></td></tr>
    <tr style="background-color: darkgray;">
      <th>Note date</th>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notepads_diye.each do |notepad| %>
      <tr>
        <td><%= notepad.note_date %></td>
        <td><%= notepad.name %></td>
        <td><%= notepad.amount %></td>
        <td><%= link_to image_tag("edit.png", :title => "Edit"), edit_notepad_path(notepad) %></td>
        <td><%= link_to image_tag("cross-icon.png", :title => "Delete"), notepad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr style="background-color: white">
      <td colspan="5">
        <div class="digg_pagination" style="float: right;">
        <%= will_paginate @notepads_diye, :param_name => 'diye_page', :container => false %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<br>

