<%= simple_form_for(@product) do |f| %>
	<table border="1">
	<tr><td></td><td>Quantity</td><td>Unit</td><td>Calculated Price</td></tr>
	<tr>
	<% index = 0 %>
	<%= f.fields_for :prices do |price| %>
		<td>
			<%= @product.materials[index].name %>&nbsp;&nbsp;[<%= @product.materials[index].unit %>, <%= @product.materials[index].price%>]
		</td>
		<td>
			<%= price.text_field :quantity, :id => "quantity_#{index}" %>
		</td>	
		<td> 
			<%= price.select :unit, get_unit, {prompt: "Select unit"}, :id => "unit_#{index}", :onchange => "calculate_price('#{@product.materials[index].unit}', '#{@product.materials[index].price}', #{index}, this, '#{@product.materials[index].piece_count}')" %>
			
		</td>
		<td id="cal_<%= index %>"><%= price.text_field :calculated_price, :class => "cal_price"%></td>
	</tr>
	<% index = index + 1 %>
	<% end %>
	<tr><td colspan="3" align="right"><b>Per Piece</b></td><td><%= f.text_field :piece, :style => "width: 138px;" %> x 12</td></tr>
	<tr><td colspan="3" align="right"><b>Majdoori</b></td><td><%= f.text_field :majdoori %></td></tr>
	<tr><td colspan="3" align="right"><input type="button" name="" id="" onclick="get_total()" value="Total"></td><td id="total"><%= f.text_field :total_price %></td></tr>
	<tr><td colspan="3"><input type="submit"></td><td id="total"></td></tr>
	</table>
	
<% end %>
