<p id="notice"><%= notice %></p>

<h3>Listing Products</h3>

<table border="1">
  <thead>
    <tr style="background-color: darkgray;">
      <th width="5%">Product number</th>
      <th width="12%">Name</th>
      <th width="12%">Description</th>
      <th width="12%">Items</th>
      <th colspan="4" width="10%">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_number %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><% product.items.pluck(:item_name).each_with_index do |item, index| %>
              <%= item %>
              <% if index < product.items.pluck(:item_name).length-1 %>,<% end %>
            <% end %>
        </td>
        <td><%= link_to 'Show', product,  data: { no_turbolink: true } %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Image', product_add_image_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @products %>
<br>

<%= link_to 'New Product', new_product_path %>
