<%= stylesheet_link_tag "colorbox" %>
<%= javascript_include_tag "jquery.colorbox-min" %>
<!-- <p id="notice"><%#= notice %></p> -->

<h3>Listing Products</h3>
<table border="1" style="border-color: #BDBDBD;">
  <thead>
    <tr style="background-color: darkgray;">
      <th width="5%">Product number</th>
      <th width="12%">Name</th>
      <th width="20%">Image</th>
      <th width="12%">Materials</th>
      <th colspan="5" width="10%">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_number %></td>
        <td><%= product.name %></td>
        <td>
          <% product.images.each do |image| %>
            <%= link_to image_tag(image.avatar.url(:thumb)), image.avatar.url, html_options = {:class => "gallery", :title => "Main Image",:style => "float:left;margin: 3px;" } %>
          <% end %>
        </td>
        <td><%= product.materials.pluck(:name).join(', ')%></td>
        <!-- <td><%# product.items.pluck(:item_name).each_with_index do |item, index| %>
              <%#= item %>
              <%# if index < product.items.pluck(:item_name).length-1 %>,<%# end %>
            <%# end %>
        </td> -->
        <td><%= link_to image_tag("detail.png", :title => "Details"), product,  data: { no_turbolink: true } %></td>
        <td><%= link_to image_tag("edit.png", :title => "Edit"), edit_product_path(product) %></td>
        <td><%= link_to image_tag("cross-icon.png", :title => "Delete"), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to image_tag("add_image.png", :title => "Add Image"), product_add_image_path(product) %></td>
        <td><%= link_to "Calculate Total", calculate_total_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%#= will_paginate @products, renderer: BootstrapPagination::Rails %>
<br>
<div class="digg_pagination" , style = "float: right;">
    
    <%= will_paginate @products, :container => false %>
  </div>

<%= link_to 'New Product', new_product_path, :class => "btn btn-primary" %>
