<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%#= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%#= link_to 'Users', users_path %></li>
  <li><%= link_to 'Products', products_path %></li>
  <li><%= link_to 'Karigar', karigars_path%></li>
  <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Making
		<span class="caret"></span></a>
		<ul class="dropdown-menu">
		  <li><%= link_to 'Balance Enquiry', balance_enquiries_path %></li>
		  <li><a href="#">Daily Result</a></li>
		  <li><a href="#">Extra Material</a></li> 
		</ul>
  </li>
  <li><%= link_to 'Customers', customers_path%></li>
  <li><%= link_to "Material", materials_path %></li>
  <li><%= link_to "Daily Note", notepads_path %></li>
  <li><%#= link_to 'Purchase', purchases_path %></li>
<% end %>
